*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode{
  background-color: #000;
  color: #fff;
}
#container{
  width: 100vw;
  height: 300vh;
}
#container > :nth-child(1){
  width: 100vw;
  height: 100vh;

}
#container > :nth-child(2){
  width: 100vw;
  height: 100vh;
    position: relative; /* 위치 지정을 위해 position 속성 추가 */
  z-index: -1; /* 다른 요소들보다 뒤로 보내기 위해 음수 값으로 설정 */
  background-image: url('https://i.imgur.com/a3biEuE.jpeg');
  filter: blur(7px); 
}
#container > :nth-child(3){
  width: 100vw;
  height: 100vh;
}