*{
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode{
  background-color: #000;
  color: #fff;
}

#root{

}

#container{

  width: 100vw;
  height: 300vh;
}

#container > :nth-child(1){
  width: 100vw;
  height: 100vh;

}

#container > :nth-child(2){
  width: 100vw;
  height: 100vh;
}
#container > :nth-child(3){
  width: 100vw;
  height: 100vh;
}